html,body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#bodyImg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/homescreen.png');
    background-size: cover;
    z-index: 5;
}
#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    z-index: 10;
}

.playButton img {
    height: 250px;
    width: 250px;
}