body{
    margin:0;
    padding:0;
    background-color: black;
}
.health-value-border{
    position: absolute;
    top:30px;
    left:30px;
    z-index: 9999;
    padding: 0;
    width: 100vw;
    background-color: white; 
    height: 30px; 
    border: 5px solid white;
}

.health-value-filling{
    width: 40%; 
    height: 100%; 
    background-color: red;
}


.data{
    position: fixed;
    top: 10vh;
    left:20vw;
    z-index: 9999;
    background-color: black;
    color:white;
}


#gameplayScreen{
    position: relative;

    background-color: black;
    z-index: 100;
}